.video-wrapper {
	margin: 40px 30px 30px 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);

	.video {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		justify-self: center;

		.video__player {
			grid-column: 1 / 3;
			min-width: 210px;
			min-height: 118px;

			video {
				object-fit: cover;
				height: 118px;
				width: 210px;
				min-width: 210px;
				border-radius: 5px;
				box-shadow: $shadow;
			}
		}

		.video__info {
			grid-column: 1 / 3;
			min-width: 210px;
			margin-top: 3px;

			.video__title {
				color: $lightGray;
				font-size: 15px;

				// 2line overflow
				width: 210px;
				height: 33.5px;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				line-height: 17px;
				text-overflow: ellipsis;
			}

			.video__name {
				font-size: 13px;
				color: $gray;
				margin: 8px 0 5px 0;
			}

			.video__views {
				font-size: 13px;
				color: $gray;
			}
		}
	}
}
