extends ./layout/main.pug

block content
    .change-password
        form(action=`/user${routes.changePassword(loggedUser.id)}`, method="post")
            input(type="password", name="oldPassword", placeholder="현재 비밀번호" required)
            input(type="password", name="newPassword", placeholder="새 비밀번호" required)
            input(type="password", name="passwordVerify", placeholder="새 비밀번호 확인" required)
            input.password-submit(type="submit", value="비밀번호 변경")