extends ./layout/main.pug

block content
    .edit-video
        form(action=`/video${routes.editVideo(video.id)}`, method="post", enctype="multipart/form-data")
            .upload-video__file
                label(for="thumbnail") Edit Thumbnail
                input(type="file", name="thumbnail", id="thumbnail")
            input.title(type="text", name="title", value=video.title, required)
            textarea(name="description", required)=video.description
            input.edit(type="submit", value="수정")
    .delete-video
        form(action=`/video${routes.deleteVideo(video.id)}`, method="post")
            input.delete(type="submit", value="삭제")
