extends ./layout/main.pug
include mixin/video.pug

block content
    .video-wrapper
        each item in video.reverse()
            +videoBlock({
                videoDetail: item.id,
                userDetail: item.creator.id,
                file: item.file,
                thumbnail: item.thumbnail,
                title: item.title,
                creator: item.creator,
                views: item.views,
                createAt: item.createAt,
            })
        
    